link(rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='/static/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='/static/material/css/material.min.css')
link(rel='stylesheet' href='/static/material/css/ripples.min.css')
link(rel='stylesheet' href='/static/material/css/roboto.min.css')
link(rel='stylesheet' href='/static/toastr/toastr.min.css')
link(rel='stylesheet' href='/static/animate.css/animate.min.css')
link(rel='stylesheet' href='/static/sweetalert/sweetalert.css')
link(rel='stylesheet' href='/static/coyot.io/css/coyot.io.min.css')
