link(rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='/static/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='/static/synapsejs/css/synapsejs.min.css')
