script(src='/static/jquery/jquery.min.js')
script(src='/static/bootstrap/js/bootstrap.min.js')
script(src='/static/angularjs/angular.js')
script(src='/static/socket.io.js')
script(src='/static/coyot.io/js/coyot.io.min.js')
