script(src='/static/jquery/jquery.min.js')
script(src='/static/bootstrap/js/bootstrap.min.js')
script(src='/static/material/js/material.min.js')
script(src='/static/material/js/ripples.min.js')
script(src='/static/toastr/toastr.min.js')
script(src='/static/sweetalert/sweetalert.min.js')
script(src='/static/angular/angular.min.js')
script(src='/static/angular-route/angular-route.min.js')
script(src='/static/angular-animate/angular-animate.min.js')
script(src='/static/socket.io.js')
script(src='/static/coyot.io/js/coyot.io.min.js')
