//script(src='/static/jquery/jquery.min.js')
//script(src='/static/bootstrap/js/bootstrap.min.js')
//script(src='/static/material/js/material.min.js')
//script(src='/static/material/js/ripples.min.js')
script(src='/static/toastr/toastr.min.js')
script(src='/static/sweetalert/sweetalert.min.js')
script(src='/static/underscore.js')
script(src='/static/ng/angular.min.js')
script(src='/static/ng-animate/angular-animate.min.js')
script(src='/static/ng-aria.min.js')
script(src='/static/ng-cookies/angular-cookies.min.js')
script(src='/static/ng-ui-router/angular-ui-router.min.js')
script(src='/static/material.min.js')
script(src='/static/md-data-table/md-data-table.min.js')
script(src='/static/socket.io.js')
script(src='/static/coyot.io/js/coyot.io.min.js')
