md-content(md-padding ng-init='getStats()')
    md-card
        md-card-content
            div(layout='column')
                div(ng-attr-platform-icon='{{server.platform}}')
                h3 {{ server.hostname }}
                p {{ server.platform }} {{ server.release }} {{ server.arch }}
            div(layout='column')
                p Status:  
                    i.fa.fa-circle.text-success(ng-if='server.online')
                    i.fa.fa-circle.text-danger(ng-if='!server.online')
                    
                p Host:  {{ server.host }}
                p Port:  {{ server.port }}
                p Type:  {{ server.type }}
                p Uptime:  {{ server.uptime | date : "h 'hours' m 'minutes and' s 'seconds'" }}
            div(layout='row' ng-show='server.platform == "linux"')
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[0]")
                        p 1 minute
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[1]")
                        p 5 minutes
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[2]")
                        p 15 minutes
            .row
                p Available RAM:  {{ server.freemem | bytes }} / {{ server.totalmem | bytes }}
                p CPU Count:  {{ server.cpu.length }}
                p(ng-if='server.distro') Distro:  {{ server.distro }}

//.panel.panel-default(ng-init='getStats()')
    .panel-heading Overview
    .panel-body
        .col-sm-12
            div(ng-attr-platform-icon='{{server.platform}}')
            h3 {{ server.hostname }}
            h5 {{ server.platform }} {{ server.release }} {{ server.arch }}
        .col-sm-12
            h5 Status:  
                i.fa.fa-circle.text-success(ng-if='server.online')
                i.fa.fa-circle.text-danger(ng-if='!server.online')
                
            h5 Host:  {{ server.host }}
            h5 Port:  {{ server.port }}
            h5 Type:  {{ server.type }}
            h5 Uptime:  {{ server.uptime | date : "h 'hours' m 'minutes and' s 'seconds'" }}
        .col-sm-10.col-sm-offset-1(ng-show='server.platform == "linux"')
            .col-sm-4
                .radial-progress
                    .circle#circle-0
                        .mask.full: .fill
                        .mask.half
                            .fill
                            .fill.fix
                    .inset
                h5 1 minute
            .col-sm-4
                .radial-progress
                    .circle#circle-1
                        .mask.full: .fill
                        .mask.half
                            .fill
                            .fill.fix
                    .inset
                h5 5 minutes
            .col-sm-4
                .radial-progress
                    .circle#circle-2
                        .mask.full: .fill
                        .mask.half
                            .fill
                            .fill.fix
                    .inset
                h5 15 minutes
        .col-sm-12
            h5 Available RAM:  {{ server.freemem | bytes }} / {{ server.totalmem | bytes }}
            h5 CPU Count:  {{ server.cpu.length }}
            h5(ng-if='server.distro') Distro:  {{ server.distro }}
