md-content(md-padding)
    md-card
        md-card-content
            div(layout='column')
                div(ng-attr-platform-icon='{{server.platform}}')
                h3 {{ server.hostname }}
                p {{ server.platform }} {{ server.release }} {{ server.arch }}
            div(layout='column')
                p Status:  
                    i.fa.fa-circle.text-success(ng-if='server.online')
                    i.fa.fa-circle.text-danger(ng-if='!server.online')
                    
                p Host:  {{ server.host }}
                p Port:  {{ server.port }}
                p Type:  {{ server.type }}
                p Uptime:  {{ server.uptime | date : "h 'hours' m 'minutes and' s 'seconds'" }}
            div(layout='row' ng-show='server.platform == "linux"')
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[0]")
                        p 1 minute
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[1]")
                        p 5 minutes
                div(flex='33' layout='column')
                    div(layout-align='center center' layout='column')
                        md-progress-circular(md-mode="determinate" value="server.loadavg[2]")
                        p 15 minutes
            .row
                p Available RAM:  {{ server.freemem | bytes }} / {{ server.totalmem | bytes }}
                p CPU Count:  {{ server.cpu.length }}
                p(ng-if='server.distro') Distro:  {{ server.distro }}
