extends /templates/page
    block body
        nav.navbar.navbar-default.navbar-fixed-top: .container
            .navbar-header
                a.navbar-brand(href='#') Synapse.js
        .container
            h1 Welcome to the Synapse.js installer
            h4 The following pages will help you to install Synapse.js on your
            | system
