html
    head
        title Synapse installer
        
        link(rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='static/synapsejs/css/synapsejs.min.css')
        
        script(src='/static/jquery/jquery.min.js')
        script(src='/static/bootstrap/js/bootstrap.min.js')
        script(src='/static/synapsejs/js/synapsejs.min.js')
    body
        nav.navbar.navbar-default.navbar-fixed-top: .container
            .navbar-header
                a.navbar-brand(href='#') Synapse.js
        .container
            h1 Hello world