include /includes/mixins

.content-wrapper(layout='row' flex)
    md-sidenav(
        layout="column"
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
    )
        md-list
            +panel_server
            
            +panel_cluster
            
            md-divider
            +panel_management
            
    #primary-col.content-wrapper(layout='column' flex)
        md-content.md-padding(layout='column' flex)
            ui-view.animated(layout='column' layout-padding flex style='overflow-x:hidden')
