.col-sm-4.col-sm-offset-4
    if (message != '')
        .alert.alert-info {{message}}
    if (error != '')
        .alert.alert-danger {{error}}
        
    h2 Login
    
    .well
        form
            div
                h3 Username:
                input.form-control(type='text' name='username' ng-model='username')
                
            div
                h3 Password:
                input.form-control(type='password' name='password' ng-model='password')
            
            div
                .checkbox
                    label
                        input#rememberme(type='checkbox' name='rememberme' ng-model='remember')
                        p Remember me
            
            div
                button.form-control(ng-click='login()') Submit
