md-content(layout='row' layout-fill layout-align='center center')
    md-card.md-inline-form(layout='column' flex='50')
        md-card-content(layout-padding)
            form(name='loginForm')
                md-input-container(flex)
                    label Username
                    input(ng-model='username')
                md-input-container(flex)
                    label Password
                    input(ng-model='password' type='password')
                
                md-checkbox(ng-model='remember') Remember Me
                md-button.md-primary(ng-click='login()') Login
