include /includes/mixins

doctype html
html(ng-app='coyot.io' ng-strict-di)
    head
        include /includes/links
        
        base(href='/')
    body(layout-fill layout='column')
        +navbar
        
        block container

        include /includes/scripts
