include /includes/mixins

doctype html
html(ng-app='coyot.io')
    head
        include /includes/links
        
        base(href='/')
    body
        +navbar
        
        .container(style='padding-top: 20px')
            block container

        include /includes/scripts
