include /includes/mixins

doctype html
html(ng-app='coyot.io')
    head
        include /includes/links
        include /includes/scripts
    body
        header
            nav.navbar(role='navigation')
                .navbar-header
                    a.navbar-brand(href='/') Coyot.io
                    
                if (user && user.role >= 1)
                    .pull-right.container-fluid
                        ul.nav.nav-pills
                            if (path == '/')
                                li.active(role="presentation"): a(href='/') Home
                            else
                                li(role="presentation"): a(href='/') Home
            
            ul.side-nav.fixed(style='left:0; padding-top:64px')
                ul.collapsible.no-padding(data-collapsible='accordion')
                    +panel_server(hostname)
                    
                    +panel_cluster()
        .container(style='padding-left:240px;padding-top:64px')
            block container
