nav.navbar.navbar-default.navbar-fixed-top: .container
    .navbar-header
        a.navbar-brand(href='#') Synapse.js
    .pull-right.container-fluid
        ul.nav.nav-pills
            li: h5 Logged in as #{user.username}
            li.active(role="presentation"): a(href='#') Home
            li(role="presentation"): a(href='#') Messages
            li(role="presentation"): a(href='#') Profile
