body
    overflow-x hidden

.animated
    transition all 0.5s ease

.animated.ng-enter
    animation fadeInRight 0.5s
    display inline-block !important

.animated.ng-leave
    animation fadeOutLeft 0.5s
    display inline-block !important
