body
    overflow-x hidden

.animated[ng-view]
    transition all 0.5s ease
    width 100%
    height 0px !important

.animated[ng-view].ng-enter
    animation fadeInRight 0.75s

.animated[ng-view].ng-leave
    position absolute
    animation fadeOutLeft 0.75s
    height 0px !important

.animated[ng-show]
    transition all 0.5s ease

.animated[ng-show].ng-hide-remove
    animation fadeInLeft 0.75s

.animated[ng-show].ng-hide-add
    animation fadeOutLeft 0.75s
