.form-control.has-error
    background-image linear-gradient(#f44336,#f44336),linear-gradient(#d2d2d2,#d2d2d2) !important
    box-shadow none !important
    background-size 100% 2px,100% 1px !important
