.navbar
    height 60px

    .container
        ul
            li
                a
                    padding-top 10px
                    padding-bottom 10px
                    height 60px

                    .img-circle
                        height 40px
                        padding-right 10px
