ul
    list-style none

    ul
        padding-left 20px

pre
    margin 10px 0px 10px

.navbar
    position relative
    z-index 1000
    padding-left 40px
    padding-right 40px

ul.side-nav.fixed
    li
        a
            font-size 13px
            line-height 44px
            height 44px
