md-content(md-padding)
    md-button.md-fab(ng-click='back()')
        md-icon.material-icons arrow_back
    md-card
        md-card-content
            form
                div(layout)
                    md-input-container(flex)
                        label Name
                        input(ng-model='group.name')
                    md-input-container(flex)
                        label Owner
                        input(ng-model='group.owner')
                div(layout)
                    md-input-container(flex)
                        label Description
                        textarea(
                            ng-model='group.description'
                            rows='3'
                        )
                div(layout)
                    md-checkbox(ng-model='group.isDefault') Default group?
                div(layout)
                    md-button.md-raised.md-primary(ng-href='/management/groups/{{group.name}}/permissions') Permissions
                div(layout)
                    md-button(ng-click='update()') Save
