.row
    button.btn.btn-primary(ng-click='back()'): span.fa.fa-arrow-left
.row
    .panel.panel-default
        .panel-heading Group Overview
        .panel-body
            h3 {{ name }}
            h5 Owner: {{ owner }}
            h5 Description: {{ description }}
