mixin list(target_path, name, icon)
    - var ng_path = target_path.replace(/(.+){{ +(.+) +}}(.+)/g, "$1' + $2 + '$3")
    
    li(ng-class="{ active: $root.path.equals('#{ng_path}') }")
        a(ng-href=target_path)
            if (icon)
                span.fa(class=icon) 
                    = name
            else
                = name
        if block
            ul(ng-show="$root.path.startsWith('#{ng_path}')")
                block
