mixin navbar

    if (user.role >= 1)
        nav.navbar.navbar-default.navbar-fixed-top: .container
            .navbar-header
                a.navbar-brand(href='#') Synapse.js
            .pull-right.container-fluid
                ul.nav.nav-pills
                    if (path == '/')
                        li.active(role="presentation"): a(href='/') Home
                    else
                        li(role="presentation"): a(href='/') Home
