mixin navbar
    
    nav.navbar.navbar-default.navbar-fixed-top: .container
        .navbar-header
            a.navbar-brand(href='/') Coyot.io
            
        if (user && user.role >= 1)
            .pull-right.container-fluid
                ul.nav.navbar-nav.navbar-right
                    +list('/auth/logout', 'Logout')
