mixin panel_management

    p.text-muted management    
        +list('/management/dashboard', 'Dashboard', 'fa-dashboard')
        +list('/management/plugins', 'Plugins', 'fa-plug')
        +list('/management/users', 'Users', 'fa-user')
        +list('/management/users/groups', 'Groups', 'fa-users')
