mixin panel_server()
    .animated(ng-show="path.startsWith('/server')")
        p.text-muted server
        
<<<<<<< HEAD
        +list('/server/{{ $root.server.hostname }}/overview', 'Overview', 'fa-server')

        if (type != 'web')
            +list('/server/{{ $root.server.hostname }}/packages', 'Packages', 'fa-cogs')
                +list('/server/{{ $root.server.hostname }}/packages/install', 'Install', 'fa-cloud-download')
                +list('/server/{{ $root.server.hostname }}/packages/update', 'Update', 'fa-wrench')
            +list('/server/{{ $root.server.hostname }}/services', 'Services', 'fa-tasks')
=======
<<<<<<< HEAD
        +list('/server/{{ $root.server.hostname }}/overview', 'Overview', 'fa-server')

        if (type != 'web')
            +list('/server/{{ $root.server.hostname }}/packages', 'Packages', 'fa-cogs')
                +list('/server/{{ $root.server.hostname }}/packages/install', 'Install', 'fa-cloud-download')
                +list('/server/{{ $root.server.hostname }}/packages/update', 'Update', 'fa-wrench')
            +list('/server/{{ $root.server.hostname }}/services', 'Services', 'fa-tasks')
=======
        +list('/server/{{ global.server.hostname }}/overview', 'Overview', 'fa-server')

        if (type != 'web')
            +list('/server/{{ global.server.hostname }}/packages', 'Packages', 'fa-cogs')
                +list('/server/{{ global.server.hostname }}/packages/install', 'Install', 'fa-cloud-download')
                +list('/server/{{ global.server.hostname }}/packages/update', 'Update', 'fa-wrench')
            +list('/server/{{ global.server.hostname }}/services', 'Services', 'fa-tasks')
>>>>>>> 170371a39f33798769600c509850e8e0d9d4eb52
>>>>>>> 2cdf0ab203388c87ff6559b6ee5ace83da2d861f
