mixin panel_server
    .panel.panel-default
        .panel-heading Server
        .panel-body
            ul
                if (path == '/server/' + hostname + '/overview/')
                    li.text-muted: span.fa.fa-server
                        |  Overview
                else
                    li: a(href='/server/' + hostname + '/overview/'): span.fa.fa-server
                        |  Overview
