mixin panel_server(hostname)
    if(hostname)
        li
            a.collapsible-header.waves-effect Server
            .collapsible-body
                ul
                    +list('/server/' + hostname + '/overview', 'fa-server', 'Overview')

                    if (type != 'web')
                        +list('/server/' + hostname + '/packages/', 'fa-cogs', 'Packages', [
                            { target_path: 'install/', icon: 'fa-cloud-download', name: 'Install' },
                            { target_path: 'update/' , icon: 'fa-wrench', name: 'Update'  }
                        ], true)
                        +list('/server/' + hostname + '/services/', 'fa-tasks', 'Services')
