mixin panel_management

    md-subheader Management
        
    +list('/management/dashboard', 'Dashboard', 'dashboard')
    +list('/management/plugins'  , 'Plugins'  , 'extension')
    +list('/management/users'    , 'Users'    , 'person')
    +list('/management/groups'   , 'Groups'   , 'group' )
