mixin panel_management

    md-subheader Management
        
    +list('/management/dashboard', 'Dashboard', 'fa-dashboard')
    +list('/management/plugins'  , 'Plugins'  , 'fa-plug'     )
    +list('/management/users'    , 'Users'    , 'fa-user'     )
    +list('/management/groups'   , 'Groups'   , 'fa-users'    )
