extends /templates/page

block body
    include /includes/mixins
    +navbar
    
    .container
        .col-sm-3
            +panel_cluster
        
        .col-sm-9
            .panel.panel-default
                .container
                    h2 Main content
