extends /templates/page

block container
    .panel.panel-default(ng-controller='ManagementCtlr')
        .panel-heading Users
        .panel-body
            form.form-inline: .form-group
                button.btn(type='button' ng-click='currentPage = currentPage*1 - 1'
                    ng-disabled="currentPage*1 <= 0 ? 'disabled' : ''") Previous
                
                button.btn(type='button' ng-click='currentPage = currentPage*1 + 1'
                    ng-disabled="currentPage*1 >= (pkgs.length / pageSize) - 1 ? 'disabled' : ''") Next
            
                input.form-control(ng-model='currentPage')
                
            table.table.table-striped.table-hover
                thead
                    td: h5 Index
                    td: h5 User
                    td: h5 Role
                    td: h5 Controls
                tbody
                    tr(ng-repeat='user in Users | ' +
                            'offsetBy: pageSize * currentPage | ' +
                            'limitTo: pageSize')
                        td: {{ user.index }}
                        td: {{ user.username }}
                        td: {{ user.role }}
                        td Controls will go here
