md-content(md-padding)
    md-button.md-fab(ng-click='back()')
        md-icon.material-icons arrow_back
    md-card
        md-card-content
            form
                div(layout)
                    md-input-container(flex)
                        label Username
                        input(ng-model='user.username')
                    md-input-container(flex)
                        label Email
                        input(ng-model='user.email')
                div(layout)
                    md-input-container(flex)
                        label Password
                        input(
                            ng-model='password'
                            type='password'
                        )
                    md-input-container(flex)
                        label Confirm Password
                        input(
                            ng-model='confirmPassword'
                            type='password'
                        )
                div(layout)
                    md-input-container(flex)
                        md-select(ng-model='user.role')
                            md-option(value='1') User
                            md-option(value='2') Reseller
                            md-option(value='4') Admin
                    md-input-container(flex)
                        md-select#groups(multiple ng-multiple='true' ng-model='user.groups')
                            md-option(ng-value='group._id' ng-repeat='group in groups') {{ group.name }}
                div(layout)
                    md-button.md-raised.md-primary(ng-href='/management/users/{{user.username}}/permissions') Permissions
                div(layout)
                    md-button(ng-click='update()') Save
