.row
    button.btn.btn-primary(ng-click='back()'): span.fa.fa-arrow-left
.row
    .panel.panel-default
        .panel-heading User Overview
        .panel-body
            h3 {{ user.username }}
            h5 Email: {{ user.email }}
            h5 Role: {{ user.role }}
            h5 Groups: {{ user.groups }}
