.row
    button.btn.btn-primary(ng-click='back()'): span.fa.fa-arrow-left
.row
    .panel.panel-default
        .panel-heading User Overview
        .panel-body
            h3 {{ username }}
            h5 Email: {{ email }}
            h5 Role: {{ role }}
